### sintesis data money laundry

In [3]:
import pandas as pd
import random
from datetime import datetime, timedelta

# Jumlah sampel transaksi
n_samples = 1000

# Membuat data simulasi
data = {
    "account_id": [random.randint(10000, 99999) for _ in range(n_samples)],
    "transaction_amount": [random.randint(100000, 2000000) for _ in range(n_samples)],  # Jumlah kecil (100.000 - 2.000.000 IDR)
    "transaction_type": ["setoran" if random.random() > 0.5 else "penarikan" for _ in range(n_samples)],
    "date": [(datetime.now() - timedelta(days=random.randint(0, 60), hours=random.randint(0, 24), minutes=random.randint(0, 60))).strftime('%Y-%m-%d %H:%M:%S') for _ in range(n_samples)],
    "receiver_id": [random.randint(10000, 99999) for _ in range(n_samples)],
}

# Membuat dataframe
df = pd.DataFrame(data)

# Menyimpan ke CSV
df.to_csv("/home/dfai/project/APUChat/workspace/data/simulated_transactions.csv", index=False)

df.head()

,account_id,transaction_amount,transaction_type,date,receiver_id
0,10476,283686,setoran,2023-07-18 21:22:12,67262
1,63171,749129,setoran,2023-08-03 06:54:12,44221
2,24266,1895621,setoran,2023-09-08 01:43:12,45800
3,61208,1297116,penarikan,2023-07-19 17:26:12,46132
4,93352,134309,penarikan,2023-08-04 09:46:12,11688