In [1]:
from pandasai import SmartDataframe
import pandas as pd
# memasukan csv kedalam dataframe
df = pd.read_csv("~/project/APUChat/workspace/data/data_pencucian_uang.csv")
APU = SmartDataframe(df)

### Encoding Data Kategorikal
Ubah data pada kolom 'Jenis Transaksi' dan 'Lokasi' menjadi format numerik menggunakan teknik One-Hot Encoding

In [3]:
data = APU.chat("lakukan encoding pada kolom 'jenis transaksi' dan 'lokasi' menggunakan metode one-hot encoding")
data

,Nama,Jumlah (Rp),Tanggal Transaksi,Jumlah (USD),Jenis_Deposit,Jenis_Tarik Tunai,Jenis_Transfer,Lokasi_Bandung,Lokasi_Jakarta,Lokasi_LokasiSalah,Lokasi_Medan,Lokasi_Surabaya,Lokasi_TidakDiketahui,Lokasi_Yogyakarta
0,Pelanggan1,12998016.0,2021-10-06,928.429714,1,0,0,0,0,0,1,0,0,0
1,Pelanggan1,11078873.0,2020-03-22,791.348071,0,0,1,0,0,1,0,0,0,0
2,Pelanggan7,4950465.0,NaN,353.604643,0,0,1,0,0,0,1,0,0,0
3,Pelanggan10,36860206.0,2021-03-04,2632.871857,0,1,0,0,0,1,0,0,0,0
4,Pelanggan6,27827845.0,2020-08-31,1987.703214,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1045,Pelanggan4,39868227.0,2020-01-21,2847.730500,1,0,0,0,0,0,0,1,0,0
1046,Pelanggan7,44279228.0,2022-12-14,3162.802000,1,0,0,0,0,0,0,0,0,1
1047,Pelanggan6,11977600.0,2022-09-22,855.542857,1,0,0,0,0,0,0,0,1,0
1048,Pelanggan8,34127825.0,2020-03-20,2437.701786,0,1,0,1,0,0,0,0,0,0
1049,Pelanggan10,16818419.0,2022-03-11,1201.315643,1,0,0,0,0,0,0,1,0,0

### Imputasi Nilai Hilang
Lengkapi nilai yang hilang pada kolom 'Nama', 'Jenis Transaksi', dan 'Lokasi'. Gunakan strategi imputasi yang sesuai untuk tiap kolom.

In [6]:
data_imputed = APU.chat("Lakukan imputasi pada kolom 'Nama', 'Jenis Transaksi', dan 'Lokasi' dengan strategi yang paling sesuai")
data_imputed

"Unfortunately, I was not able to answer your question, because of the following error:\n\n'NoneType' object is not subscriptable\n"

### Ekstraksi Informasi Tanggal
Ekstrak informasi bulan dan tahun dari kolom 'Tanggal Transaksi' dan simpan sebagai kolom baru pada dataframe

In [9]:
data_extracted = APU.chat("Ekstrak bulan dan tahun dari kolom 'Tanggal Transaksi' dan buat sebagai kolom baru")
data_extracted

'Unfortunately, I was not able to answer your question, because of the following error:\n\nUnknown string format: not a date present at position 13\n'